body {
  width: 80%;
  margin: 0 auto;
}

.about__us {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about__us-text {
  width: 40%;
}

.about__us-image {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.about__us-image > img {
  width: 500px;
}
