body {
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 50%;
}

button {
  height: 42px;
  width: 100px;
  background-color: #9e8860;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-left: 30px;
}

.mailinglist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 40%;
}

img {
  width: 400px;
  height: 280px;
}

.main2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 2rem;
}
