body {
    margin: 0 auto;
    font-family: 'Nobile', sans-serif;
}
  
.screen {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}



.layout-top{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;

}

.form {
    max-width: 80%;
    float: left;
    position: absolute;
	width: 1489px;
    padding: 15px 20px;
    margin-right: 200px;
    margin-left: 200px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    top: 15px;
   
}

.form2 {
    max-width: 80%;
    float: left;
    position: absolute;
	width: 1449px;
    padding: 15px 20px;
    background-color: #609e88 ;
	border-radius: 5px;
	box-shadow: 2px 2px 8px #44433b;
    margin-right: 200px;
    margin-left: 200px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    top: 200px;
}

.loggo{
    width: 140px;
}


.search{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    
}

.white-button1{
    border: 1px solid black;
    color: white;
    padding: 10px;
    width: 50px;
    margin: 20px;
    padding:20px;
    background-color: #4c7e6c;
}

.white-button1:hover{
    cursor:grab;
    background-color:#609e88;
    }


.orange-button1{
    border: 1px solid black;
    padding: 10px;
    width: 60px;
    background-color: #9E8860;
    color: white;
    margin: 20px;
    padding:20px;
}

.orange-button1:hover{
    cursor:grab;
    background-color:#609e88;
    }

.hover-layout:hover{
    cursor:grab;
    opacity: 0.5;
    color:#4c7e6c;
}

.main-title{
    display:flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid black;
    color: white;
    background-color: #4c7e6c;
    position: absolute;
    width: 1000px;
    top: 430px;
    right: 450px;
}

.main-text{
    font-family: 'Nobile', sans-serif;
    font-size:18px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    color: white;
    background-color: #9E8860;
    position: absolute;
    padding:15px;
    height: 310px;
    width: 700px;
    top: 550px;
    left: 320px;
}

.side-background-left{
    background-image: url(galleryimages/träd.jpg);
    width: 200px;
    height: 900px;
    float: left;
    background-size: cover;
    background-position: center;

}

.side-background-right{
    float: right;
    background-image: url(galleryimages/träd.jpg);
    width: 199px;
    height: 900px;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


footer {
    position: absolute;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}




.products-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products-heading strong{
    font-family: 'Nobile', sans-serif;
    color: #ffffff;
    background-color: #4c7e6c;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
}
.products-heading p{
    font-family: 'Nobile', sans-serif;
    color: #609e88;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.product-name{
    color: #000000;
}
.product-price{
    color: #609e88;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(110, 110, 110, 0.1);
}
.product-box:hover .add-cart{
    display: flex;
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #4c7e6c;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.5s;
 
}
.add-cart:hover{
    background-color: #9E8860;
    transition: all ease 0.5s;
}
