body {
  margin: 0 auto;
  font-family: 'Nobile', sans-serif;
}

.screen {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

.side-background-left {
  background-image: url(../images/träd.jpg);
  width: 8%;
  height: 1268px;
  position: absolute;
  top: 0px;
  float: left;
  background-size: cover;
  background-position: center;
}

.side-background-right {
  float: right;
  background-image: url(../images/träd.jpg);
  width: 8%;
  height: 1268px;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.layout-top {
  margin: 0 auto;
  width: 80%;
}

.form {
  width: 80%;
  padding: 15px 20px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form2 {
  width: 80%;
  position: absolute;
  padding: 15px 0px;
  background-color: #609e88;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #44433b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 200px;
}

.loggo {
  width: 140px;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white-button1 {
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 60px;
  margin: 20px;
  padding: 20px;
  background-color: #4c7e6c;
}

.white-button1:hover {
  cursor: grab;
  background-color: #609e88;
}

.orange-button1 {
  border: 1px solid black;
  padding: 10px;
  width: 60px;
  background-color: #9e8860;
  color: white;
  margin: 20px;
  padding: 20px;
}

.orange-button1:hover {
  cursor: grab;
  background-color: #609e88;
}

.hover-layout:hover {
  cursor: grab;
  opacity: 0.5;
  color: #4c7e6c;
}

.main-title {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  color: white;
  background-color: #4c7e6c;
}

.main-title-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main__cont {
  padding-top: 50px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.main-text {
  font-size: 18px;
  width: 50%;
  border: 1px solid black;
  color: white;
  background-color: #9e8860;
}

.book1 {
  max-width: 200px;
  height: 260px;
}

.book2 {
  max-width: 200px;
  height: 260px;
}

footer {
  position: absolute;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
